In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('train.csv')
train.rename(columns={'index': 'id'}, inplace=True)
test = pd.read_csv('test.csv')
sample_submit = pd.read_csv('sample_submit.csv', names=['id', 'Y'])

In [3]:
data = pd.concat([train, test], sort=False)

In [4]:
# あまり効果なし
# print(data['education'].unique())
# data.loc[data['education'] == 'Some-college', 'education'] = 'Bachelors'
# data.loc[data['education'] == '12th', 'education'] = 'junior-glad'
# data.loc[data['education'] == '10th', 'education'] = 'junior-glad'
# data.loc[data['education'] == '5th-6th', 'education'] = 'junior-glad'
# data.loc[data['education'] == '7th-8th', 'education'] = 'junior-glad'
# data.loc[data['education'] == '11th', 'education'] = 'junior-glad'
# data.loc[data['education'] == '9th', 'education'] = 'junior-glad'
# data.loc[data['education'] == '1st-4th', 'education'] = 'junior-glad'


# print(data['education'].unique())
# data

In [5]:
data['workclass'].unique()

array(['Private', '?', 'Local-gov', 'Self-emp-inc', 'Federal-gov',
       'Self-emp-not-inc', 'State-gov'], dtype=object)

In [6]:
# カテゴリカルな特徴量は全てとりあえずエンコーディングしておく．
# one-hotにしておく．
from sklearn import preprocessing
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
for column in categorical_columns:
    # d = {}
    # for i, category in enumerate(data[column].unique()):
    #     d[category] = i
    # data[column] = data[column].map(d)
    data = pd.concat([data, pd.get_dummies(data[column])], axis=1)
data.drop(categorical_columns, inplace=True, axis=1)
for column in data.columns:
    data[column] = preprocessing.minmax_scale(data[column])
data

,id,age,fnlwgt,education-num,Y,?,Federal-gov,Local-gov,Private,Self-emp-inc,...,Unmarried,Wife,Asian-Pac-Islander,Black,White,Female,Male,Mexico,Philippines,United-States
0,0.000000,0.142857,0.997932,0.785714,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,0.000059,0.142857,0.998239,0.571429,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2,0.000118,0.163265,0.998397,0.500000,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
3,0.000176,0.428571,0.998131,0.857143,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0.000235,0.693878,0.998165,0.857143,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6795,0.999765,0.326531,0.997201,0.571429,NaN,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
6796,0.999824,0.326531,0.998065,0.357143,NaN,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
6797,0.999882,0.326531,0.997766,0.857143,NaN,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
6798,0.999941,0.163265,0.997558,0.500000,NaN,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
6799,1.000000,0.163265,0.998057,0.571429,NaN,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0

In [7]:
data.drop('id', axis=1, inplace=True)
# data.drop('fnlwgt', axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

y_train = train['Y']
X_train = train.drop('Y', axis=1)
X_test = test.drop('Y', axis=1)
X_train

,age,fnlwgt,education-num,?,Federal-gov,Local-gov,Private,Self-emp-inc,Self-emp-not-inc,State-gov,...,Unmarried,Wife,Asian-Pac-Islander,Black,White,Female,Male,Mexico,Philippines,United-States
0,0.142857,0.997932,0.785714,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,0.142857,0.998239,0.571429,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2,0.163265,0.998397,0.500000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
3,0.428571,0.998131,0.857143,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0.693878,0.998165,0.857143,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10195,0.326531,0.998198,0.571429,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
10196,0.428571,0.997699,0.571429,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
10197,0.428571,0.996935,0.857143,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
10198,0.040816,0.997899,0.571429,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
10199,0.428571,0.998538,0.214286,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [8]:
import lightgbm as lgb
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

y_preds = []
models = []
oof_train = np.zeros((len(X_train),))
cv = StratifiedKFold(n_splits=5, random_state=0, shuffle=True)
for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train, y_train)):
    X_tr = X_train.iloc[train_index, :]
    X_val = X_train.iloc[valid_index, :]
    y_tr = y_train.iloc[train_index]
    y_val = y_train.iloc[valid_index]

    lgb_train = lgb.Dataset(X_tr, y_tr)
    lgb_eval = lgb.Dataset(X_val, y_val, reference=lgb_train)

    clf = QuadraticDiscriminantAnalysis()
    clf.fit(X_tr, y_tr)
    oof_train[valid_index] = clf.predict(X_val)
    y_pred = clf.predict(X_test)

    y_preds.append(y_pred)

/Users/yutahirai/opt/anaconda3/envs/matlab/lib/python3.8/site-packages/sklearn/discriminant_analysis.py:715: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/Users/yutahirai/opt/anaconda3/envs/matlab/lib/python3.8/site-packages/sklearn/discriminant_analysis.py:715: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/Users/yutahirai/opt/anaconda3/envs/matlab/lib/python3.8/site-packages/sklearn/discriminant_analysis.py:715: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/Users/yutahirai/opt/anaconda3/envs/matlab/lib/python3.8/site-packages/sklearn/discriminant_analysis.py:715: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/Users/yutahirai/opt/anaconda3/envs/matlab/lib/python3.8/site-packages/sklearn/discriminant_analysis.py:715: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

In [9]:
oof_train

array([0., 1., 0., ..., 0., 0., 0.])

In [10]:
from sklearn.metrics import accuracy_score

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.8584313725490196

In [11]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)
y_sub[:10]

array([0, 0, 1, 0, 1, 1, 0, 1, 1, 1])

In [12]:
sample_submit['Y'] = y_sub
sample_submit.to_csv('submit-qda.csv', header=False, index=False)
sample_submit

         id  Y
0     10200  0
1     10201  0
2     10202  1
3     10203  0
4     10204  1
...     ... ..
6795  16995  0
6796  16996  0
6797  16997  0
6798  16998  0
6799  16999  0

[6800 rows x 2 columns]