In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')
train.rename(columns={'index': 'id'}, inplace=True)
test = pd.read_csv('test.csv')
sample_submit = pd.read_csv('sample_submit.csv', names=['id', 'Y'])

In [3]:
data = pd.concat([train, test], sort=False)

# カテゴリカルな特徴量は全てとりあえずエンコーディングしておく．
categorical_column = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
for column in categorical_column:
    d = {}
    for i, category in enumerate(data[column].unique()):
        d[category] = i
    data[column] = data[column].map(d)
data

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,native-country,Y
0,0,22,0,132618,0,12,0,0,0,0,0,0,0.0
1,1,22,0,132655,1,9,1,1,1,0,1,1,1.0
2,2,23,1,132674,2,8,0,2,2,0,0,0,0.0
3,3,36,0,132642,1,13,1,3,1,0,1,0,1.0
4,4,49,0,132646,3,13,1,4,1,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6795,16995,31,0,132530,0,9,2,8,2,0,0,0,NaN
6796,16996,31,0,132634,1,6,0,12,2,1,1,0,NaN
6797,16997,31,0,132598,2,13,4,1,2,0,1,0,NaN
6798,16998,23,0,132573,0,8,2,10,2,2,0,0,NaN
6799,16999,23,1,132633,7,9,0,2,0,0,0,0,NaN

In [4]:
data.drop('id', axis=1, inplace=True)
train = data[:len(train)]
test = data[len(train):]

y_train = train['Y']
X_train = train.drop('Y', axis=1)
X_test = test.drop('Y', axis=1)
X_train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,native-country
0,22,0,132618,0,12,0,0,0,0,0,0
1,22,0,132655,1,9,1,1,1,0,1,1
2,23,1,132674,2,8,0,2,2,0,0,0
3,36,0,132642,1,13,1,3,1,0,1,0
4,49,0,132646,3,13,1,4,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
10195,31,0,132650,1,9,2,9,5,0,0,1
10196,36,0,132590,2,9,1,4,3,0,1,1
10197,36,2,132498,1,13,1,10,1,2,1,0
10198,17,0,132614,0,9,0,10,2,0,0,0
10199,36,1,132691,3,4,2,7,1,2,1,0

In [5]:
from sklearn.model_selection import train_test_split


X_train, X_valid, y_train, y_valid = \
    train_test_split(X_train, y_train, test_size=0.3,
                     random_state=0, stratify=y_train)

In [6]:
import lightgbm as lgb
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_valid, y_valid, reference=lgb_train)
params = {
    'objective': 'binary'
}
model = lgb.train(params, lgb_train,
                  valid_sets=[lgb_train, lgb_eval],
                  verbose_eval=10,
                  num_boost_round=100000,
                  early_stopping_rounds=1000)

y_pred = model.predict(X_valid, num_iteration=model.best_iteration)

/Users/yutahirai/opt/anaconda3/envs/matlab/lib/python3.8/site-packages/lightgbm/engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
/Users/yutahirai/opt/anaconda3/envs/matlab/lib/python3.8/site-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "

[LightGBM] [Info] Number of positive: 1729, number of negative: 5411
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000534 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 368
[LightGBM] [Info] Number of data points in the train set: 7140, number of used features: 11
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.242157 -> initscore=-1.140891
[LightGBM] [Info] Start training from score -1.140891
Training until validation scores don't improve for 1000 rounds
[10]	training's binary_logloss: 0.313204	valid_1's binary_logloss: 0.327298
[20]	training's binary_logloss: 0.255141	valid_1's binary_logloss: 0.281897
[30]	training's binary_logloss: 0.230633	valid_1's binary_logloss: 0.269241
[40]	training's binary_logloss: 0.214581	valid_1's binary_logloss: 0.265882
[50]	training's binary_logloss: 0.202819	valid_1's binary_logloss: 0.264681
[60]	training's binary_logloss: 0.192595	valid_1's binary_logloss: 0.264504
[70]	training's binary_logloss: 0.184355	valid_1's binary_logloss: 0.265799
[80]	training's binary_logloss: 0.177539	valid_1's binary_logloss: 0.266195
[90]	training's binary_logloss: 0.170679	valid_1's binary_logloss: 0.267655
[100]	training's binary_logloss: 0.164119	valid_1's binary_logloss: 0.26795
[110]	training's binary_logloss: 0.157738	valid_1's binary_logloss: 0.268976
[120]	training's binary_logloss: 0.151246	valid_1's binary_logloss: 0.269811
[130]	training's binary_logloss: 0.146468	valid_1's binary_logloss: 0.271071
[140]	training's binary_logloss: 0.141955	valid_1's binary_logloss: 0.272186
[150]	training's binary_logloss: 0.137254	valid_1's binary_logloss: 0.274525
[160]	training's binary_logloss: 0.131929	valid_1's binary_logloss: 0.27618
[170]	training's binary_logloss: 0.128212	valid_1's binary_logloss: 0.277674
[180]	training's binary_logloss: 0.124296	valid_1's binary_logloss: 0.2787
[190]	training's binary_logloss: 0.120273	valid_1's binary_logloss: 0.279651
[200]	training's binary_logloss: 0.116362	valid_1's binary_logloss: 0.281422
[210]	training's binary_logloss: 0.11309	valid_1's binary_logloss: 0.282833
[220]	training's binary_logloss: 0.109605	valid_1's binary_logloss: 0.284233
[230]	training's binary_logloss: 0.106197	valid_1's binary_logloss: 0.286918
[240]	training's binary_logloss: 0.103074	valid_1's binary_logloss: 0.288792
[250]	training's binary_logloss: 0.0998439	valid_1's binary_logloss: 0.290593
[260]	training's binary_logloss: 0.0969259	valid_1's binary_logloss: 0.291894
[270]	training's binary_logloss: 0.0942208	valid_1's binary_logloss: 0.29393
[280]	training's binary_logloss: 0.0912668	valid_1's binary_logloss: 0.29603
[290]	training's binary_logloss: 0.08855	valid_1's binary_logloss: 0.297883
[300]	training's binary_logloss: 0.0857267	valid_1's binary_logloss: 0.300071
[310]	training's binary_logloss: 0.0834722	valid_1's binary_logloss: 0.301701
[320]	training's binary_logloss: 0.0809646	valid_1's binary_logloss: 0.30369
[330]	training's binary_logloss: 0.0792219	valid_1's binary_logloss: 0.305497
[340]	training's binary_logloss: 0.077406	valid_1's binary_logloss: 0.30728
[350]	training's binary_logloss: 0.0751797	valid_1's binary_logloss: 0.308947
[360]	training's binary_logloss: 0.0733121	valid_1's binary_logloss: 0.310197
[370]	training's binary_logloss: 0.0715548	valid_1's binary_logloss: 0.312398
[380]	training's binary_logloss: 0.0691109	valid_1's binary_logloss: 0.314402
[390]	training's binary_logloss: 0.0671556	valid_1's binary_logloss: 0.315682
[400]	training's binary_logloss: 0.0650922	valid_1's binary_logloss: 0.316958
[410]	training's binary_logloss: 0.0633377	valid_1's binary_logloss: 0.319662
[420]	training's binary_logloss: 0.0613424	valid_1's binary_logloss: 0.321731
[430]	training's binary_logloss: 0.0595245	valid_1's binary_logloss: 0.324327
[440]	training's binary_logloss: 0.058136	valid_1's binary_logloss: 0.327141
[450]	training's binary_logloss: 0.0558812	valid_1's binary_logloss: 0.328497
[460]	training's binary_logloss: 0.053903	valid_1's binary_logloss: 0.330365
[470]	training's binary_logloss: 0.0524646	valid_1's binary_logloss: 0.331993
[480]	training's binary_logloss: 0.051112	valid_1's binary_logloss: 0.333669
[490]	training's binary_logloss: 0.0500408	valid_1's binary_logloss: 0.336434
[500]	training's binary_logloss: 0.0483875	valid_1's binary_logloss: 0.338766
[510]	training's binary_logloss: 0.0467009	valid_1's binary_logloss: 0.341005
[520]	training's binary_logloss: 0.0455132	valid_1's binary_logloss: 0.342815
[530]	training's binary_logloss: 0.0443833	valid_1's binary_logloss: 0.345224
[540]	training's binary_logloss: 0.0429217	valid_1's binary_logloss: 0.346965
[550]	training's binary_logloss: 0.0418156	valid_1's binary_logloss: 0.348909
[560]	training's binary_logloss: 0.0407042	valid_1's binary_logloss: 0.35076
[570]	training's binary_logloss: 0.0397261	valid_1's binary_logloss: 0.352248
[580]	training's binary_logloss: 0.0386501	valid_1's binary_logloss: 0.354564
[590]	training's binary_logloss: 0.0377605	valid_1's binary_logloss: 0.35621
[600]	training's binary_logloss: 0.036578	valid_1's binary_logloss: 0.358432
[610]	training's binary_logloss: 0.0357537	valid_1's binary_logloss: 0.360377
[620]	training's binary_logloss: 0.034923	valid_1's binary_logloss: 0.36206
[630]	training's binary_logloss: 0.0339511	valid_1's binary_logloss: 0.363786
[640]	training's binary_logloss: 0.0331508	valid_1's binary_logloss: 0.365553
[650]	training's binary_logloss: 0.032295	valid_1's binary_logloss: 0.368415
[660]	training's binary_logloss: 0.0313932	valid_1's binary_logloss: 0.370018
[670]	training's binary_logloss: 0.0304491	valid_1's binary_logloss: 0.371658
[680]	training's binary_logloss: 0.0294136	valid_1's binary_logloss: 0.373893
[690]	training's binary_logloss: 0.0284844	valid_1's binary_logloss: 0.375952
[700]	training's binary_logloss: 0.027817	valid_1's binary_logloss: 0.378173
[710]	training's binary_logloss: 0.0267319	valid_1's binary_logloss: 0.379911
[720]	training's binary_logloss: 0.0259339	valid_1's binary_logloss: 0.382276
[730]	training's binary_logloss: 0.0251426	valid_1's binary_logloss: 0.384869
[740]	training's binary_logloss: 0.024439	valid_1's binary_logloss: 0.386884
[750]	training's binary_logloss: 0.0236793	valid_1's binary_logloss: 0.38871
[760]	training's binary_logloss: 0.0231026	valid_1's binary_logloss: 0.391805
[770]	training's binary_logloss: 0.0224399	valid_1's binary_logloss: 0.394776
[780]	training's binary_logloss: 0.021706	valid_1's binary_logloss: 0.396738
[790]	training's binary_logloss: 0.0211047	valid_1's binary_logloss: 0.398724
[800]	training's binary_logloss: 0.0203524	valid_1's binary_logloss: 0.401427
[810]	training's binary_logloss: 0.019768	valid_1's binary_logloss: 0.403297
[820]	training's binary_logloss: 0.0192183	valid_1's binary_logloss: 0.405347
[830]	training's binary_logloss: 0.0187743	valid_1's binary_logloss: 0.407439
[840]	training's binary_logloss: 0.0182382	valid_1's binary_logloss: 0.409546
[850]	training's binary_logloss: 0.0178439	valid_1's binary_logloss: 0.411851
[860]	training's binary_logloss: 0.0172687	valid_1's binary_logloss: 0.413665
[870]	training's binary_logloss: 0.0165698	valid_1's binary_logloss: 0.416858
[880]	training's binary_logloss: 0.0159582	valid_1's binary_logloss: 0.418869
[890]	training's binary_logloss: 0.0154066	valid_1's binary_logloss: 0.421141
[900]	training's binary_logloss: 0.0150102	valid_1's binary_logloss: 0.423572
[910]	training's binary_logloss: 0.0145185	valid_1's binary_logloss: 0.426156
[920]	training's binary_logloss: 0.0142681	valid_1's binary_logloss: 0.428916
[930]	training's binary_logloss: 0.0139224	valid_1's binary_logloss: 0.431267
[940]	training's binary_logloss: 0.0136204	valid_1's binary_logloss: 0.432718
[950]	training's binary_logloss: 0.0132849	valid_1's binary_logloss: 0.435127
[960]	training's binary_logloss: 0.0129441	valid_1's binary_logloss: 0.437346
[970]	training's binary_logloss: 0.0124722	valid_1's binary_logloss: 0.439566
[980]	training's binary_logloss: 0.0121783	valid_1's binary_logloss: 0.441706
[990]	training's binary_logloss: 0.0116155	valid_1's binary_logloss: 0.44342
[1000]	training's binary_logloss: 0.0111518	valid_1's binary_logloss: 0.444909
[1010]	training's binary_logloss: 0.0108034	valid_1's binary_logloss: 0.447177
[1020]	training's binary_logloss: 0.0104231	valid_1's binary_logloss: 0.449798
[1030]	training's binary_logloss: 0.0101178	valid_1's binary_logloss: 0.452716
[1040]	training's binary_logloss: 0.00972559	valid_1's binary_logloss: 0.454923
[1050]	training's binary_logloss: 0.00946942	valid_1's binary_logloss: 0.457276
[1060]	training's binary_logloss: 0.00915014	valid_1's binary_logloss: 0.458917
Early stopping, best iteration is:
[62]	training's binary_logloss: 0.190664	valid_1's binary_logloss: 0.2643

In [7]:
y_pred[:10]

array([0.0022551 , 0.0013183 , 0.0067186 , 0.91896269, 0.00392708,
       0.01103707, 0.23917377, 0.0028153 , 0.67000383, 0.12515806])

In [8]:
from sklearn.metrics import accuracy_score
y_pred = (y_pred > 0.5).astype(int)
accuracy_score(y_valid, y_pred)

0.8784313725490196

In [9]:
y_pred = model.predict(X_test, num_iteration=model.best_iteration)
y_pred = (y_pred > 0.5).astype(int)

In [10]:
sample_submit['Y'] = y_pred
sample_submit
sample_submit.to_csv('submit.csv', header=False, index=False)